aider-chat
black
cryptography
dataclasses-json
filelock
folium
langchain
matplotlib
networkx
numpy
openai
pandas
Pillow
plotly
PyGithub
python-dotenv
pyvis
requests
scikit-learn
streamlit
streamlit-ace
streamlit-agraph
streamlit-authenticator
streamlit-folium
streamlit-modal
streamlit-option-menu
streamlit-sortables
tiktoken