streamlit
openai
networkx
plotly
folium
streamlit-ace
streamlit-agraph
streamlit-folium
aider
tiktoken
langchain
requests
python-dotenv
numpy
Pillow
PyGithub
streamlit-option-menu
pandas
scikit-learn
